body { 

   align-items:center;
    background-color:black;
    text-align:center;
    color:white;
    font-style: italic
}
    

h2{ 
    font-size: x-large;

}

.logo {
    mix-blend-mode: color-burn;
}

.who_they_are {
    text-align: center;
}

table {
    font-size: xx-large;
    width: 100%;
    padding:10px;
    border: 3px solid white;
    align-content: center;
    border-collapse: collapse;
    max-width: 100%;
    flex: content;
    flex-direction: column;
    align-content: center;

}

img {
    min-width: 50%;
}

